#%RAML 1.0
---

title: Individual Income Test Support
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: Test Support for the Individuals API
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: [ application/json ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

/individuals-income-test-support:
  /employer/{empRef}/employment/{nino}:
    uriParameters:
      empRef:
        description: The employer PAYE reference number
        type: string
        example: 904/UZ00057
      nino:
        description: The employee National Insurance number
        type: string
        example: AA123456D

    post:
      displayName: Create an employment
      description: !include docs/create-employment-description.md
      is: [headers.acceptHeader]
      securedBy: [ sec.x-application ]
      body:
        application/json:
          schema: !include schemas/create-employment.json
          example: !include examples/create-employment.json
      responses:
        201:
          description: The created employment
          body:
            application/json:
              example: !include examples/create-employment-response.json
              type: !include schemas/create-employment-response.json
        400:
          body:
            application/json:
              type: types.errorResponse
              examples:
                BadRequest:
                  description: Invalid request
                  value:
                    code: INVALID_REQUEST
